{% block fortunes %}
    <h2>{{ page.title }}</h2>
    {% for page in page.collection() %}
        <div class="fortune">
            {% for image in page.media.images %}
                <img src="{{ image.url }}" class=""/>
            {% endfor %}
        </div> <!-- end class fortune -->
    {% endfor %}
{% endblock %}
