<div style="font-weight: bold; font-style: italic; border: 2px dotted black; margin: 5px;">

{% block content %}
    <h2>{{ page.title }}</h2>
    {% for page in page.collection() %}
        <div class="multicontents">
            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
            {{ page.content }}
        </div> <!-- end class event -->
    {% endfor %}
{% endblock %}

</div>
