{% extends 'partials/base.html.twig' %}

{% block content %}

    <svg class="pointe-about" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 643 305" style="enable-background:new 0 0 643 305;" xml:space="preserve">
    <style type="text/css">
        .st0{clip-path:url(#SVGID_2_);}
        .st1{fill:#A65322;}
        .st2{fill:none;stroke:#000000;stroke-miterlimit:10;}
    </style>
    <g>
        <defs>
            <rect id="SVGID_1_" x="-0.3" y="-0.4" width="644.2" height="306.3"/>
        </defs>
        <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
        </clipPath>
        <g class="st0">
            <path class="st1" d="M0.1,0.9c0,0,920.4,257.3,557.8,177S91.2,305.3,91.2,305.3"/>
            <path class="st2" d="M0.1,0.9c0,0,920.4,257.3,557.8,177S91.2,305.3,91.2,305.3"/>
        </g>
    </g>
    </svg>

        <div class="titre-rouge">{{ page.title }}</div> 

        <div class="boite-marron">

                        <div class="about">
                        
                            {{ page.content }}
                            {% for tag in page.taxonomy.tag %}
                            <a href="{{ uri.rootUrl() | rtrim("/") }}/places/tag:{{ tag }}">{{ tag }}</a>
                            {% endfor %}

                        </div>


        </div> <!-- end class -->



{% endblock %}
