{% extends 'partials/base.html.twig' %}



{% block content %}

        <svg class="pointe-contact" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 643.04 305.04"><defs><style>.cls-1,.cls-4{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#a65322;}.cls-4{stroke:#000;stroke-miterlimit:10;}</style>
        <clipPath id="clip-path" transform="translate(-337.43 -457.41)"><rect class="cls-1" x="337.18" y="457" width="644.19" height="306.32"/></clipPath></defs><title>pointe</title><g class="cls-2"><path class="cls-3" d="M428.59,457.63S532.88,665.35,895.4,585,337.56,762,337.56,762" transform="translate(-337.43 -457.41)"/>
                <path class="cls-4" d="M428.59,457.63S532.88,665.35,895.4,585,337.56,762,337.56,762" transform="translate(-337.43 -457.41)"/></g>
        </svg>

        <div class="titre-rouge">{{ page.title }}</div>

        <div class="boite-marron">
                        
                        <div class="contact">
                        
                                {{ page.content }}
                                {% for tag in page.taxonomy.tag %}
                                <a href="{{ uri.rootUrl() | rtrim("/") }}/places/tag:{{ tag }}">{{ tag }}</a>
                                {% endfor %}

                        </div>

        </div> <!-- end class -->

{% endblock %}
