{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="main-contents">
        <h2>{{ page.title }}</h2>
        <div class="contenus">{{ page.content }}</div>
    </div>
{% endblock %}
