{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="main-contents">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
        {% for page in page.collection() %}
            <div class="multicontents">
                <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                {{ page.content }}
            </div> <!-- end class event -->
        {% endfor %}
    </div> <!-- end class events -->
{% endblock %}
