{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="main-contents">
        <h2>{{ page.title }}</h2>
        {% for page in page.collection() %}
            <div class="sections">
                {{ page.content }}
            </div> <!-- end class event -->
        {% endfor %}
    </div> <!-- end class events -->
{% endblock %}
