{% extends 'partials/base.html.twig' %}

{% block content %}

    <!--<h2>{{ page.title }}</h2>
    {{ page.content }}-->

    <!--<div class="barre">
    {% for tag in taxonomy.getTaxonomyItemKeys('tag') %}
        <a href="{{ uri.url(true) | rtrim("/") }}/tag:{{ tag }}">{{ tag }}</a>
    {% endfor %}
    </div>-->

    <div id="mapid"></div>
    <div class="boite-legende">

        <span>LEGEND :</span>

        <span class="moving">
        <span class="circle-moving"></span>
        <span>Moving spaces</span>
        </span>


        <span class="fixed">
        <span class="circle-fixed"></span>
        <span>Fixed places</span>
        </span>
        

        <span class="past">
        <span class="circle-past"></span>
        <span>Past Traces</span>
        </span>


    </div>

{% endblock %}

{% block fortunes %}
    <h2>{{ page.title }}</h2>
    {% for page in page.collection() %}
        <h3>{{ page.title }}</h3>
        <div class="fortune">
            {{ page.content }}
        </div> <!-- end class fortune -->
    {% endfor %}
{% endblock %}

