{% set collection = page.collection() %}
{
  "type": "FeatureCollection",
  "features": [
{% for child in collection %}
{
  "type": "Feature",
  "properties": {
    "color": "Plum",
    "opacity": "0.6",
    "name": {{child.title|json_encode}},
    "link": {{child.url|json_encode}},
    "description": {{child.content|json_encode}},
    "tags": {{child.taxonomy.tag|json_encode}}
    },
  "geometry": {
  "type": "Point",
  "coordinates": [
        {{child.header.longitude}},
        {{child.header.latitude}}
      ]
}
}{% if not child.isLast() %},{% endif %}
{% endfor %}
]
}
