{% extends 'partials/base.html.twig' %}



{% block content %}


    <div class="place">


        <div class="boite-tags-selected" id="colors4">
            <div class="text-tags-selected">Tagged in : </div>
            {% for tag in page.taxonomy.tag %}
            <span class="tags-selected">
            <a href="{{ uri.rootUrl() | rtrim("/") }}/places/tag:{{ tag }}">{{ tag }}</a>
            </span>
            {% endfor %}
        </div>

            <div class="container-description">




                    
                <div class="description">
                    
                    {% for image in page.media.images %}
                        <img src="{{ image.url }}"  class="picto" />
                    {% endfor %}
                    
                    <h2>{{ page.title }}</h2>
                    <div>{{ page.content }}</div>

                    

                </div>

            </div>

    </div> <!-- end class -->

    

{% endblock %}
