/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}
/* FONTES */
@font-face {
    font-family:'Montserrat';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cumulus";
    src: url('../fonts/cirruscumulus-webfont.woff2') format('woff2'),
        url('../fonts/cirruscumulus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Hugo";
    src: url('../fonts/monhugo-in-webfont.woff2') format('woff2'),
        url('../fonts/monhugo-in-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Trappist";
    src: url('../fonts/montrappist-black-webfont.woff2') format('woff2'),
        url('../fonts/montrappist-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Copal";
    src: url('../fonts/CopalStd-Solid.otf');
}

/* GENERAL */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 125vh;
    /* overflow: scroll;
    overflow-x: hidden; */
}



/* Works on Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: red blue;
  }
  
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    display: none;
}

html {
    height: 125vh;
    width: 100vw;
    font-size: 15px;
    flex-direction: column;
}

a {
    text-decoration: none;
}


/* STRUCTURE */
.colonne1 {
    padding-right: 0 !important;
}
.colonne2 {
    padding-left: 0 !important;
}

.logo-petit {
    display : none;
}

/* GESTION DES BORDURES */
.boite-titre, .boite-fortune, .boite-menu, .index, .boite-lieux, .fortunes {
    border: 3px black solid; }
.boite-titre { border-right: none;}
.boite-fortune, .boite-menu, .index, .fortunes {border-bottom: none;}


/* TITRE */

.boite-titre {
    height: 30vh;
}

.boite-titre img {
    height: 100%;
    width: 100%;
}

/* BLOC TAGS + CARTE */

.container-container {
    height: 68vh;
    padding: 1.5%;
}

/* WHAT I'M LOOKING 4 */

.lookingfor {
    background-color: white;
    font-family: "Trappist";
    text-align: center;
    font-size: 3.5vh;
    border : 3px black solid;
    border-right: none;
    border-bottom: none;
    height: 5vh;    
}
.lookingfor a {
    outline: none;
    text-decoration: none;
}
.lookingfor:hover {
    color: #26d9f7;
    cursor: default;
}

/* TAGS */
.boite-tags {
    text-align: left;
    padding : 1%;
    border : 3px black solid;
    border-right: none;
    height: 22vh;
    overflow: scroll;
    scrollbar-width: none;
}
.boite-tags a {
    outline: none;
    text-decoration: none;
    color: red;
}
.tags {
	border: 2px red solid;
	border-radius: 22px;
	background-color: white;
	display: inline-flex;
	font-family: "Cumulus";
	font-size: 18px;
	line-height: 0px;
	padding: 10px;
	padding-bottom: 16px;
	margin: 2px;
}
.tags:link, .tags:visited {
    color: red;
}
.tags:hover {
    background: pink;
    color: #26d9f7;
}
.tags:active {
    background: transparent;
    color: pink;
}

/* FORTUNE TELLER */
.boite-fortune {
    height: 14vh;
}

.boite-fortune a:hover{
    background: pink;
    cursor: pointer;
}

#fortune {
    border: 3px black solid;
    background-color: white;
    border-radius: 50% / 50%;
    height: 100%;
    padding: 1%;
}

.date {
    font-family: "Trappist";
    text-align: center;
    font-size: 4vh;
    line-height: 6vh;
}

.message {
    font-family: "Trappist";
    text-align: center;
    font-size: 3vh;
    line-height: 3vh;
}

.subtitle {
    font-family: "Trappist";
    text-align: center;
    font-size: 2vh;
    line-height: 2vh;
}

#display {
    position : absolute;
    top : 10%;
    left: 20%;
    width: 1000px;
    z-index: 10000;
}

#display img {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    cursor: pointer;
}

/* CARTE */

#mapid {
    width: 100%;
    height: 90%;
    border: 3px black solid;
    border-bottom: none;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

/* PICTOS CARTE */
.leaflet-container .leaflet-marker-pane img[src*=".svg"] {
    width: 1000px !important;
}
.leaflet-container .leaflet-marker-pane img {
    max-width: 45px !important;
    max-height: 45px !important;
}


/* INFOBULLES */
.leaflet-popup-content-wrapper {
    width: 350px;
    padding: 1%;
    height: auto;
    overflow: scroll;
}

.leaflet-popup-content {
    height: auto;
}

.leaflet-popup-content h3 {
    font-size: 17px;
    line-height: 15px;
    margin-bottom: -10px;
    color: black;
}

.leaflet-popup-content span p{
    font-size: 15px;
    line-height: 15px;
    color: black;
}

.leaflet-popup-content span *:not(:nth-child(1)):not(:nth-child(3)) {
    display: none;
  }

.leaflet-popup-content img {
    display: none;
}

.leaflet-container a:hover {
    background-color: #F5F00E;
}

.leaflet-container a.leaflet-popup-close-button {
    font-size: 33px;
    margin-top: 8px;
    margin-right: 8px;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color :red;
    background-color: transparent;
}

/* LEGENDE DE LA CARTE */

.boite-legende {
    background-color: #F5F00E;
    border: 3px black solid;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    display: flex;
    font-family:'Trappist';
    font-size: 2.5vh;
    padding: 1%;
}


.circle-moving {
    width: 1.5vw;
    height: 1.5vh;
    background: red;
    border-radius: 50%;
    display: inline-flex;
    margin-left: 1vw;
  }

.moving {
    margin-right: 1vw;
    color : red;
}

.circle-fixed {
    width: 1.5vw;
    height: 1.5vh;
    background: rgb(119, 0, 255);
    border-radius: 50%;
    display: inline-flex;
  }

.fixed {
    margin-right: 1vw;
    color : rgb(119, 0, 255);
}

.circle-past {
    width: 1.5vw;
    height: 1.5vh;
    background: black;
    border-radius: 50%;
    display: inline-flex;
  }

.past {
    margin-right: 1vw;
    color : black;
}



/* MENU */
.boite-menu {
    padding: 1%;
    height: 40vh;
    width: 100%;
}
.element {
    text-align: center;
    font-size: 12vh;
    line-height: 10vh;
}
.boite-menu a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: "Cumulus";
}
.element:link, .element:visited {
    color: white;
}
.element:hover {
    background: pink;
    width: 100%;
}
.element:active {
    background: transparent;
    color: #26d9f7;
}

/* INDEX */
.index {
    background-color: white;
    font-family: "Trappist";
    text-align: center;
    font-size: 3.5vh;
    height: 5vh;
}
.index a {
    outline: none;
    text-decoration: none;
}
.index :hover {
    color: #26d9f7;
    cursor: default;
}

/* LISTE DES LIEUX */
.boite-lieux {
    background-color: #F5F00E;
    font-family: "Trappist";
    text-align: center;
    padding: 1%;
    height: 66vh;
    overflow: scroll;
    scrollbar-color: none;
    scrollbar-width: none;
}
.boite-lieux a{
    text-decoration: none;
    color: black;
}
.lieux {
    font-family: "Trappist";
    text-align: center;
    font-size: 4vh;
    line-height: 5vh;   
}
.lieux:link, .lieux:visited {
    color: red;
}
.lieux:hover {
    background: pink;
    margin-right : 4rem;
    margin-left : 4rem;
}



/* PAGES ABOUT, RESOURCES ET CONTACT */

.pointe-contact {
    position: absolute;
    width: 260px;
    z-index: 1000;
    top: 40%;
    left: 57%;
    -ms-transform:rotate(-30deg); /* IE 9 */
    -moz-transform:rotate(-30deg); /* Firefox */
    -webkit-transform:rotate(-30deg); /* Safari and Chrome */
    -o-transform:rotate(-30deg); /* Opera */
    stroke: black;
    stroke-width: 3px;
}


.pointe-about {
    position: absolute;
    width: 260px;
    z-index: 1000;
    top: 28%;
    left: 55%;
    -ms-transform:rotate(314deg); /* IE 9 */
    -moz-transform:rotate(314deg); /* Firefox */
    -webkit-transform:rotate(314deg); /* Safari and Chrome */
    -o-transform:rotate(314deg); /* Opera */
    stroke: black;
    stroke-width: 3px;
}


.titre-rouge {
    background-color: red;
    width: 100%;
    font-family: "Trappist";
    font-size: 4.5vh;
    text-transform: uppercase;
    text-align: left;
    border: 3px black solid;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    padding-left: 1%;
    height: 10%;
}

.boite-marron {
    width: 100%;

    background-color:#a65323;

    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border: 3px black solid;
    border-top: none;
    padding: 2%;
    height: 90%;
}

.about {
    font-family: "Trappist";
    font-size: 3vh;
    line-height: 3vh;
    text-align: left;
    overflow: scroll;
    scrollbar-color: none;
    scrollbar-width: none;
    height: 100%;
    width: 80%;
}


.contact {
    font-family: "Trappist";
    font-size: 4vh;
    line-height: 4vh;
    text-align: left;
    overflow: scroll;
    scrollbar-color: none;
    scrollbar-width: none;
    height: 100%;
    width: 80%;
}

.contact h3:hover {
    color: pink;
}


/* PAGES QUESTIONNAIRES PLACE */

.container-description {
    width: 100%;

    position: relative;
    background-color: pink;
    border: 3px black solid;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    overflow: scroll;
    scrollbar-color: none;
    scrollbar-width: none;
    height: 80%;
    padding: 1%;
}


.place {
    width: 100%;
    height: 100%;
}

.boite-tags-selected {
    padding: 1%;
    text-align: left;
    border-radius: 22px;
    border: 3px black solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    height: 20%;
    overflow: scroll;
    scrollbar-color: none;
    scrollbar-width: none;
}

.text-tags-selected {
    font-family: "trappist";
    font-size: 2rem;
    display: inline-flex;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    display: none;
}

.tags-selected {
    border: 0.2rem white solid;
    border-radius: 22px;
    background-color: pink;
    display: inline-flex;
    font-family: "Cumulus";
	font-size: 18px;
	line-height: 0px;
	padding: 10px;
	padding-bottom: 16px;
	margin: 2px;

}

.tags-selected a {
    text-decoration: none;
    color: white;
}

.tags-selected a:hover {
    text-decoration: none;
    color: red;
}


.description {
    font-family: "Trappist";
    text-align: left;
    width: 100%;
    padding: 1%;
}

.description h1 {
    font-size: 6vh;
}
.description h2 {
    font-size: 6vh;
}
.description h3 {
    font-size: 4vh;
    
}
.description p {
    font-size: 3vh;
    line-height: 3.5vh;
    margin-bottom: 1%;
}
.description a {
    text-decoration: none;
    color: black;
}
.description a:hover {
    text-decoration: none;
    color: black;
    background: #F5F00E;
}

.picto {
    max-width: 200px;
    max-height: 200px;
    position: fixed;
    margin-left: 700px;
    margin-top: 80px;
    transform: rotate(-30deg);
    /* display: none; */
}













/* --------------------------------------------------------------------- */












/* RESPONSIVE */

@media only screen and (max-width: 600px) {


    [class*="col-"] {
        flex-direction: column;
        width: 100%;
      }

    .logo-grand {
        display: none;
    }

    .logo-petit {
        display: inherit;
    }

    .boite-titre {
        height: 25vh;
    }

    .boite-titre img {
        height: 100%;
        width: 100%;
    }

    .container-container {
        height: 70vh;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .boite-legende {
        background-color: #F5F00E;
        border: 3px black solid;
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
        display: flex;
        font-family: 'Trappist';
        font-size: 2vh;
        padding: 2%;
    }

    .boite-tags {
        text-align: left;
        padding: 4%;
        border: 3px black solid;
        border-right: none;
        height: 40vh;
        overflow: scroll;
        scrollbar-width: none;
        border-bottom: none;
    }

    #display {
        position: absolute;
        top: 157%;
        left: 0%;
        width: 1000px;
        z-index: 10000;
    }

    #display img {
        max-height: 50vw;
        max-width: 50vh;
        text-align: center;
        cursor: pointer;
    }

    .pointe-about, .pointe-contact {
        display: none;
    }

}


/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
