{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>Grrrls Heart Brussels</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    {% include 'partials/metadata.html.twig' %}
    <!--<link rel="icon" type="image/png" href="{{ url('theme://images/social-preview.png') }}" />-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" crossorigin="" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
    {% do assets.addCss('theme://js/leaflet.css', 98) %}
    {% do assets.addCss('theme://css/style.css?v=4', 98) %}
    {% do assets.addCss('theme://css/flexboxgrid.min.css', 98) %}
    {% endblock %}
    {{ assets.css() }}
    {% endblock head%}

</head>

<body class="{{ page.header.body_classes }}">



    {% block header %}
    {% endblock %}

    {% block body %}

    <div class="row">

        <div class="col-lg-8 colonne1">

            <div class="boite-titre" id="colors1">
               <a href="/"><img class="logo-grand" src= "{{ url('theme://images/bad_ordi.png') }}"></a>
               <a href="/"><img class="logo-petit" src= "{{ url('theme://images/bad_gsm.png') }}"></a>
            </div>



            <div class="container-container">

                    <!-- va chercher le block “content” dans le template -->
                      {% block content %}
                      {% endblock %}

                  
            </div>



                  <div class="lookingfor"><a>WHAT AM I LOOKING 4 ?</a></div>
                    <div class="boite-tags" id="colors5">
                    <!-- va chercher le block “tags” dans le template -->
                          {% block tags %}

                              {% for tag in taxonomy.getTaxonomyItemKeys('tag') %}
                              <div class="tags">

                                  <a href="{{ uri.url(true) | rtrim("/") }}/tag:{{ tag }}">{{ tag }}</a>
                              </div>
                              {% endfor %}

                          {% endblock %}
                  </div>
        </div>
        <!-- end colonne1 -->



        <div class="col-lg-4 colonne2">
              <div class="boite-fortune" id="colors2">
                <div id="fortune" onclick= "random_imglink()">
                    <div class="date"></div>
                    <div class="message"><a>FORTUNE TELLER*</a></div>
                    <div class="subtitle">*based on queer archives</div>
                </div>
              </div>
            <div id="display"></div>

            <div class="boite-menu" id="colors3">
                <div class="element"><a href="/about">about</a></div>
                <div class="element"><a href="/contact">contact</a></div>
                <div class="element"><a href="/">map</a></div>
                {# <div class="element"><a href="/resources">resources</a></div> #}
            </div>

            <div class="sound-box">
              <div class="essential_audio" data-url="user\themes\grav-love\sounds\housewife-lib-song.mp3"></div>
            </div>

            <div class="index"><a>INDEX</a></div>

            <div class="boite-lieux" id="colors5">
                 <!-- va chercher le block “places” dans le template -->
                 {% block places %}
                     {% for place in page.find('/places').children.order('date', 'desc') %}
                         <div class="lieux">
                             <a href="{{ place.url }}">{{ place.title }}</a>
                         </div> <!-- end liste-lieux -->

                     {% endfor %}
                 {% endblock %}
            </div>

        </div><!-- end colonne2 -->





    </div><!-- end row -->


    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block bottom %}
    {{ assets.js('bottom') }}
    {% endblock %}

    <script type="text/javascript">
        var JSON_URI = "{{ uri.rootUrl() | rtrim(" / ") }}/places.json{{ uri.params }}";
    </script>

    {% block javascripts %}
    {% do assets.addJs('theme://js/jquery-1.9.1.js', 100) %}
    {% do assets.addJs('theme://js/jquery-ui-1.9.2.custom.js', 100) %}
    {% do assets.addJs('theme://js/jquery-git.js', 100) %}
    {% do assets.addJs('theme://js/date.format.js', 100) %}
    {% do assets.addJs('theme://js/leaflet-src.js', 100) %}
    {% do assets.addJs('theme://js/tile.stamen.js', 100) %}
    {% do assets.addJs('theme://js/script-carte.js', 100) %}
    {% endblock %}
    {{ assets.js() }}


    <script type="text/javascript">
        /* DATE DU JOUR */
        Date.prototype.format = function(mask, utc) {
            return dateFormat(this, mask, utc);
        };
        setInterval(function() {
            var now = new Date();
            $('.date').text(now.format("dddd d mmmm yyyy"));
        }, 1000);
    </script>


<script>
/* RANDOM COLORS */
function getRandomColor() {
  var colors = ['red', '#F5F00E', '#26d9f7'];
  color = colors[Math.floor(Math.random() * 2.99)];
  return color;
}
  $("#colors1").css("background-color", getRandomColor());
</script>

<script>
/* RANDOM COLORS */
function getRandomColor() {
  var colors = ['red', '#F5F00E', '#26d9f7'];
  color = colors[Math.floor(Math.random() * 2.99)];
  return color;
}
  $("#colors2").css("background-color", getRandomColor());
</script>

<script>
/* RANDOM COLORS */
function getRandomColor() {
  var colors = ['red', '#F5F00E', '#26d9f7'];
  color = colors[Math.floor(Math.random() * 2.99)];
  return color;
}
  $("#colors3").css("background-color", getRandomColor());
</script>

<script>
/* RANDOM COLORS */
function getRandomColor() {
  var colors = ['red', '#F5F00E', '#26d9f7'];
  color = colors[Math.floor(Math.random() * 2.99)];
  return color;
}
  $("#colors4").css("background-color", getRandomColor());
</script>

<script>
/* RANDOM COLORS */
function getRandomColor() {
  var colors = ['red', '#F5F00E', '#26d9f7'];
  color = colors[Math.floor(Math.random() * 2.99)];
  return color;
}
  $("#colors5").css("background-color", getRandomColor());
</script>



<script>
/* FORTUNE RANDOM */
function random_imglink(){
  console.log("i am here");
var myimages=new Array()
//specify random images below. You can have as many as you wish
myimages[0]="user/themes/grav-love/images/fortunes/1.png"
myimages[1]="user/themes/grav-love/images/fortunes/2.png"
myimages[2]="user/themes/grav-love/images/fortunes/3.png"
myimages[3]="user/themes/grav-love/images/fortunes/4.png"
myimages[4]="user/themes/grav-love/images/fortunes/5.png"
myimages[5]="user/themes/grav-love/images/fortunes/6.png"
myimages[6]="user/themes/grav-love/images/fortunes/7.png"
myimages[7]="user/themes/grav-love/images/fortunes/8.png"
myimages[8]="user/themes/grav-love/images/fortunes/9.png"
myimages[9]="user/themes/grav-love/images/fortunes/10.png"
myimages[10]="user/themes/grav-love/images/fortunes/11.png"
myimages[11]="user/themes/grav-love/images/fortunes/12.png"
myimages[12]="user/themes/grav-love/images/fortunes/13.png"
myimages[13]="user/themes/grav-love/images/fortunes/14.png"
myimages[14]="user/themes/grav-love/images/fortunes/15.png"
myimages[15]="user/themes/grav-love/images/fortunes/16.png"
myimages[16]="user/themes/grav-love/images/fortunes/17.png"
myimages[17]="user/themes/grav-love/images/fortunes/18.png"
myimages[18]="user/themes/grav-love/images/fortunes/19.png"
myimages[19]="user/themes/grav-love/images/fortunes/20.png"
myimages[20]="user/themes/grav-love/images/fortunes/21.png"
myimages[21]="user/themes/grav-love/images/fortunes/22.png"
myimages[22]="user/themes/grav-love/images/fortunes/23.png"
myimages[23]="user/themes/grav-love/images/fortunes/24.png"
myimages[24]="user/themes/grav-love/images/fortunes/25.png"
myimages[25]="user/themes/grav-love/images/fortunes/26.png"
myimages[26]="user/themes/grav-love/images/fortunes/27.png"
myimages[27]="user/themes/grav-love/images/fortunes/28.png"
myimages[28]="user/themes/grav-love/images/fortunes/29.png"
myimages[29]="user/themes/grav-love/images/fortunes/30.png"

var randomfortune=Math.floor(Math.random()*myimages.length);
var img = document.createElement("img");
img.src = myimages[randomfortune];
var myDiv = document.getElementById('display');
myDiv.innerHTML = '';
myDiv.appendChild(img);
myDiv.onclick =  function() { myDiv.innerHTML = ''; }

}
</script>

<script>
{# document.getElementById('closeButton').addEventListener('click', function(e) {
    e.preventDefault();
    this.parentNode.style.display = 'none';
}, false); #}

function closeImg(){
  console.log("i am here closeImg");
}
</script>


<script src="essential_audio.js"></script>

    <!-- <script type="text/javascript">
        $('a[href^="http://"]').not('a[href*=girlsheart]').attr('target', '_blank');
        $('a[href^="https://"]').not('a[href*=girlsheart]').attr('target', '_blank');
        $('a[href^="http://"]').not('a[href*=localhost]').attr('target', '_blank');
        $('a[href^="https://"]').not('a[href*=localhost]').attr('target', '_blank');
    </script> -->

</body>

</html>
